body {
	margin: 0 auto;
	font-family: Helvetica;
	font-size: 18px;
	line-height: 1.4;
	color: white;
}

header {
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
	background-size: cover;
	height: 30rem;	
}

.container {
	width: 960px;
	margin: 0 auto;
}

nav {
	background-color: cadetblue;
}

.nav-logo {
	padding: 1rem 2rem;
}

.logo {
	height: 1.5rem;
}